<table class="index">

  <tr>
    <th style="width: 60px; text-align: center;">編集</th>
    <th style="width: 200px;">設定名</th>
    <th style="">値</th>
  </tr>

  <% for item in @items %>
  <tr <%= cycle '', 'class="cycle"' %>>
    <td style="text-align: center;"><%= link_to :edit, url_for(:action => :edit, :id => item.id) %></td>
    <td><%=h item.config_name %></td>
    <td><%=h item.value_name %></td>
  </tr>
  <% end %>

</table>
