@charset "UTF-8";
@import "../base/style.css";
@import "../base/layouts/col-1.css";
@import "../piece/style.css";

/* =========================================================
   Enquete
========================================================= */
/* Index : enqueteForms
----------------------------------------------- */
.contentNewsletterForms .form {
  margin: 0px;
}
.contentNewsletterForms h2 {
  padding: 4px 6px;
  background-color: #e3f0fa;
  font-size: 100%;
  font-weight: bold;
}
.contentNewsletterForms .form .summary, .contentNewsletterForms .form .body {
  padding: 4px 6px;
}
/* Errors
----------------------------------------------- */
.errorExplanation {
  margin: 0px 0px 4px 0px;
  color: #f00;
}
.errorExplanation h2 {
  background-color: #ffffff;
  padding: 4px;
  font-size: small;
}
.contentNewsletterForms .errorExplanation p {
  background-color: #ffffff;
  margin: 4px 0px 0px 4px;
}
.errorExplanation ul {
  margin: 2px 0px 2px 20px;
  list-style-type: disc;
}



/* Show : Form
----------------------------------------------- */
.contentNewsletterForms .columns {
  margin: 0px;
}
.contentNewsletterForms .column {
  margin: 5px 0px 10px 0px;
}
.contentNewsletterForms .column .name {
  padding: 4px 5px;
  background-color: #e3f0fa;
}
.contentNewsletterForms .column .body {
  margin: 10px 0px 0px 5px;
}
.contentNewsletterForms .column .field {
  margin: 10px 0px 0px 5px;
}
.contentNewsletterForms .submitters {
  padding: 10px 0px;
  background-color: #e3f0fa;
  text-align: center;
}
.contentNewsletterForms .errorExplanation {
  color: #ff0000;
}
.contentNewsletterForms .back {
  margin-top: 20px;
  text-align: center;
}
.required {
  color: #ff0000;
}

