<div class="menu" style="margin: 0px 0px 10px 0px;">
【ファイル】
<%= link_to '新規登録', new_cms_inline_data_file_path %>
<%= link_to '一覧表示', cms_inline_data_files_path %>
【フォルダ】
<%= link_to '新規登録', new_cms_inline_data_file_node_path %>
<%= link_to '一覧表示', cms_inline_data_file_nodes_path %>
</div>
