@charset "UTF-8";

/* =========================================================
   Area
========================================================= */

/* index
----------------------------------------------- */
.contentPrefArea .categories h3 {
/*  margin-bottom: 5px;
  padding: 5px 30px;
  background-color: rgb(232,246,225);
  background-image: url(/_common/themes/tokushima/files/tiiki/icon_square_green.gif);
  background-repeat: no-repeat;
  background-position: 1% 50%;*/
}

.contentPrefArea .cities h3 {
/*  margin-bottom: 5px;
  padding: 5px 10px;
  background-color: rgb(232,246,225);*/
}

.contentPrefArea h3 {
/*  margin-bottom: 5px;*/
  padding: 7px 10px 2px;
}

.contentPrefArea .children {
  margin: 0px 0px 10px 0px;
  line-height: 1.5;
}

.contentPrefArea .children a {
  display: inline-block;
  margin: 0px 0px 0px 10px;
}

.latest li {
  padding-left: 10px;
  background-image: url(/_common/themes/tokushima/files/tiiki/icon_square_orange.gif);
  background-position: 0 7px;
  background-repeat: no-repeat;
}

.cities li {
  padding-left: 10px;
  background-image: url(/_common/themes/tokushima/files/tiiki/icon_square_green_l.gif);
  background-position: 0 7px;
  background-repeat: no-repeat;
}

.categories li {
  padding-left: 10px;
  background-image: url(/_common/themes/tokushima/files/tiiki/icon_square_green_l.gif);
  background-position: 0 7px;
  background-repeat: no-repeat;
}

.contentPrefArea li {
  line-height: 1.4;
}

/* show
----------------------------------------------- */
.contentPrefArea .latest {
  position: relative;
}

.contentPrefArea .latest h3 {
  padding-left: 30px;
/*  background-color: #009D81;
  background-image: url(/_common/themes/tokushima/files/tiiki/icon_square_newbar.gif);
  background-repeat: no-repeat;
  background-position: 1% 50%;*/
  color: #fff;
}

.contentPrefArea .latest .feed {
/*  position: relative;
  top: -25px;
  float: right;
  right: 5px;*/
}
.contentPrefArea .more {
  margin-bottom: 10px;
  text-align: right;
}

.contentPrefArea .latest .feed a {
/*  color: transparent;
  text-decoration: none;*/
}

* html .contentPrefArea .latest .feed a {
/*  color: rgb(0,141,119);
  text-decoration: none;
  display: none;*/
}

/* 
footer
----------------------------------------------------*/
.inquiry {
  border-top: 1px solid #006600;
}

.inquiry h3 {
  color: #006600;
}
