<% if defined?(container) && container != :tr %>
<table class="show">
<% end %>
  <tr>
    <th>レイアウト</th>
    <td>
      <% if @item.layout %><%=h safe{@item.layout.title} %>
      <% elsif @item.inherited_layout %>（<%=h safe{@item.inherited_layout.title} %>）<% end %>
    </td>
  </tr>
<% if defined?(container) && container != :tr %>
</table>
<% end %>
